* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #fff;
}
